In [1]:
import numpy as np 
import pandas as pd

In [2]:
data=pd.read_csv('titanic_data.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
columns_target=['Survived']

In [8]:
columns_train=['Age','Sex','Pclass','Fare']

In [9]:
x=data[columns_train]
y=data[columns_target]

In [10]:
x['Sex'].isnull().sum()

0

In [11]:
x['Pclass'].isnull().sum()

0

In [12]:
x['Age'].isnull().sum()

177

In [14]:
x['Age']=x['Age'].fillna(x['Age'].median())

C:\Users\mangl\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
x['Age'].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [16]:
x['Age'].isnull().sum()

0

In [17]:
x['Sex'].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [18]:
d={'male':0,'female':1}
x['Sex']=x['Sex'].apply(lambda x:d[x])
x['Sex'].head()

C:\Users\mangl\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [19]:
x

      Age  Sex  Pclass      Fare
0    22.0    0       3    7.2500
1    38.0    1       1   71.2833
2    26.0    1       3    7.9250
3    35.0    1       1   53.1000
4    35.0    0       3    8.0500
5    28.0    0       3    8.4583
6    54.0    0       1   51.8625
7     2.0    0       3   21.0750
8    27.0    1       3   11.1333
9    14.0    1       2   30.0708
10    4.0    1       3   16.7000
11   58.0    1       1   26.5500
12   20.0    0       3    8.0500
13   39.0    0       3   31.2750
14   14.0    1       3    7.8542
15   55.0    1       2   16.0000
16    2.0    0       3   29.1250
17   28.0    0       2   13.0000
18   31.0    1       3   18.0000
19   28.0    1       3    7.2250
20   35.0    0       2   26.0000
21   34.0    0       2   13.0000
22   15.0    1       3    8.0292
23   28.0    0       1   35.5000
24    8.0    1       3   21.0750
25   38.0    1       3   31.3875
26   28.0    0       3    7.2250
27   19.0    0       1  263.0000
28   28.0    1       3    7.8792
29   28.0    0       3    7.8958
..    ...  ...     ...       ...
861  21.0    0       2   11.5000
862  48.0    1       1   25.9292
863  28.0    1       3   69.5500
864  24.0    0       2   13.0000
865  42.0    1       2   13.0000
866  27.0    1       2   13.8583
867  31.0    0       1   50.4958
868  28.0    0       3    9.5000
869   4.0    0       3   11.1333
870  26.0    0       3    7.8958
871  47.0    1       1   52.5542
872  33.0    0       1    5.0000
873  47.0    0       3    9.0000
874  28.0    1       2   24.0000
875  15.0    1       3    7.2250
876  20.0    0       3    9.8458
877  19.0    0       3    7.8958
878  28.0    0       3    7.8958
879  56.0    1       1   83.1583
880  25.0    1       2   26.0000
881  33.0    0       3    7.8958
882  22.0    1       3   10.5167
883  28.0    0       2   10.5000
884  25.0    0       3    7.0500
885  39.0    1       3   29.1250
886  27.0    0       2   13.0000
887  19.0    1       1   30.0000
888  28.0    1       3   23.4500
889  26.0    0       1   30.0000
890  32.0    0       3    7.7500

[891 rows x 4 columns]

In [20]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=42)

In [35]:
from sklearn import svm
clf=svm.LinearSVC()

In [36]:
clf.fit(x_train,y_train)
print clf

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [37]:
print clf.predict(x_test[0:10])

[0 0 0 1 1 1 1 0 1 1]

In [38]:
print clf.score(x_test,y_test)

0.801120448179